In [ ]:
# Create a link to a file on AWS for download

from IPython import FileLink

FileLink('location/of/file.csv')

In [5]:
# Create a Pandas dataframe
# De-dup Pandas dataframe

import pandas as pd

df = pd.DataFrame({"A":["foorar is hooray", "foo hooray noray blah", "foo noray blah", "foorar not hooray"],
                   "B":[0, 1, 1, 1],
                   "C":["A", "A", "B", "A"]})

df.groupby(["A", "C"]).filter(lambda df:df.shape[0] == 1)

# Remove rows when the string in column A is longer than 20
df[df['A'].map(len) <= 20]

                   A  B  C
0   foorar is hooray  0  A
2     foo noray blah  1  B
3  foorar not hooray  1  A

In [ ]:
# Print images in Jupyter inline
# https://stackoverflow.com/questions/19410042/how-to-make-ipython-notebook-matplotlib-plot-inline

%matplotlib inline

import matplotlib
import numpy as np
import matplotlib.pyplot as plt